.header{
  display: flex;
  align-items: center;
  padding-top: 92px;
  padding-right: 49px; 
  padding-bottom: 92px;
  padding-left: 51px;
}

.header__links-list{
  display: inline-flex;
  flex-shrink: 0;
  justify-content: space-around;
  gap: 32px;
}

.header__links-list-item{
  flex-shrink: 0;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style: circle;
}

.header__links-list-item_no-bullit{
  list-style: none;
}

.header__link{
  text-decoration: none;
  text-decoration-line: underline;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.without__underline{
  text-decoration-line: none;
}

.address{
  display: flex;
  flex-flow: column;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__logo{
  min-width: 148px;
  min-height: 105px;
  flex-shrink: 0;
  padding-left: 209px;
  padding-right: 355px;
}

.cover{
  background-image: url("../images/cover.jpg");
  max-width: 1440px;
  position: relative;
  display: flex;
  flex-flow: column;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title{
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  z-index: 1;
  gap: 20px;
  column-gap: 0;
  letter-spacing: 30px;
}

.cover__title__first{
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
  justify-content: flex-start;
  max-height: 100px;
}

.cover__title__second{
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  margin-left: 80px;
  margin-top: 15px;
}

.cover__title__third{
  grid-column-start: 3;
  grid-row-start: 3;
  display: flex;
  justify-content: end;
  min-height: 100px;
  padding-left: 20px;
  margin-left: 20px;
  margin-top: 8px;
}

.cover__title__h1{
  margin: 0;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  text-transform: uppercase;
}

.letter-spacing-extended{
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.aligned-text{
  text-align: start;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right{
  text-align: right;
}

.cover__description{
  padding-top: 147px;
  padding-left: 422px;
  padding-bottom: 50px;
  padding-right: 50px;
  white-space: nowrap;
  z-index: 1;
  display: flex;
  align-items: center;
}

.cover__description-text{
  width: 633px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 12px;
  text-align: start;
}

.bet-button{
  position: relative;
  z-index: 1;
  width: 257px;
  height: 52px;
  margin-left:  50px; 
  border: 1px solid #FFF;
  padding-left: 2px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  text-transform: uppercase;
  right: -28px;
}

.lots{
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
  margin-top: 182px;
  margin-right: 50px;
}

.lots__heading{
  margin-bottom: 27px;
  margin-left: 90px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__cards{
  width: 430px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.card{
  display:flex;
  position: relative;
  flex-flow: column;
  flex-shrink: 0;
  width: 430px;
  height: 450px;
  margin-right: 25px;
}

.card__title{
  margin-top: 50px;
  margin-left: 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text{
  margin-bottom: 50px;
  margin-left: 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
  z-index: 0;
}

.card__text__first{
  padding-top: 202px;
}

.card__text__second{
  padding-top: 30px;
}

.card__text__third{
  padding-top: 84px;
}

.card_type_film{
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book{
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture{
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link{
  padding-top: 30px;
  padding-left: 90px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about{
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 430px 885px;
  margin-top: 181px;
  margin-left: 50px;
  gap: 25px;
}

.about__logo{
  display: flex;
  flex-shrink: 0;
  grid-column-start: 1;
  grid-column-end: 1;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  padding: 0px 95px;
  background-color: #000;
  border-radius: 50%;
  margin-left: 95px;
}

.about__logo-image{
  flex-shrink: 0;
  width: 148px;
  height: 114px;
}

.about__info{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: start;
  align-items: flex-start;
  gap: 100px;
  margin-top: 100px;
  padding-bottom: 0px;
}

.about__title{
  display: flex;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__info-text{
  display: grid;
  gap: 25px;
}

.about__text{
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 90px;
}

.header-footer__address{
  width: 240px;
}

.footer__menu{
  flex-shrink: 0;
  width: 149px;
}

.footer__menu-list{
  text-align: center;
}

.footer__menu-list-item{
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style: none;
}

.footer__menu-link_active{
  text-decoration: none;
}

.footer__menu-link{
  /*Я не знаю что сюда добавить*/
  color: #000; 
}

.footer__social-list{
  display: flex;
  justify-content: space-between;
  min-width: 240px;
}

.footer__social-list-item{
  list-style: none;
  scroll-behavior: smooth;
}

.footer__social-link{
  scroll-behavior: smooth;
}

.footer__social-icon{
  width: 80px;
  height: 48px;
}